#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
 }
 img{
   width: 60px;
 }
 #cart table td:nth-child(1){
   width: 100px;
   text-align: center;
 }
 #cart table td:nth-child(2){
   width: 150px;
   text-align: center;
 }
 #cart table td:nth-child(3){
   width: 250px;
   text-align: center;
 }
 #cart table td:nth-child(4),
 
 #cart table td:nth-child(6){
   width: 150px;
   text-align: center;
 }
 
 #cart table td:nth-child(5) input{
   width: 70px;
   padding: 10px 5px 10px 15px;
 }
 #cart table thead{
    border: 1px solid #e2e9e2;
    border-left: none;
    border-right: none;
 }
 #cart table thead td{
   font-weight: 700;
   text-decoration: uppercase;
   font-size: 18px;
   padding: 18px 0;
 }
 
 #cart table tbody tr td{
   padding-top: 15px;
 }
 
 #cart table tbody  td{
 font-size: 19px ;
 }

 #coupon{
  padding: 20px 2px;
  text-align: center;
 }
 #coupon input{
  width: 250px;
  font-size: 14px;
  caret-color: blue;
  padding: 12px 20px;
  margin-right: 5px;
 }
 #coupon  button{
width: 83px ;
padding: 12px 10px;
font-size: 16px;
font-weight: 500;
background-color: #088178;
border: none;
border-radius: 40px;
color: white;
transition: box-shadow .15s;
cursor: pointer;
 }
 #coupon  button:active{
  box-shadow: 0px 0px 8px;
  background-color: rgb(17, 80, 59);
 }
 
/* coins */
#coins-product{
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 22px;
  padding: 10px 15px;
}
#coins-product p{
  position: relative;
  top: 4.4px;
  margin-left: 7px;
 }